.variableSubmenu {
    color: #68727D;
    font-size: 14px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #68727D #fff;
}

.variableList {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.subvariableList {
    cursor: pointer;
}

.variableItem {
    padding: 12px 0px;
}

.subvariableItem {
    padding: 12px 0px 0px 8px;
    margin-bottom: 4px;
}

.variableTemp {
    padding: 0px 10px 10px 0px;
}

.activeVariableName {
    font-weight: 500;
    background: linear-gradient(90deg, #44a3da 0%, #0a47a9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.activeSubvariableName {
    font-weight: 500;
    color: #68727D;
}

.subvariableOptions {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.variableName {
    display: flex;
    font-weight: 500;
}

.subvariableName {
    display: flex;
    font-weight: 500;
}

.variableOptions {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.variableOptions.visible {
    max-height: 800px;
    opacity: 1;
}

@media (max-width: 768px) {
    .variableSubmenu {
        font-size: 14px;
    }

    .variableItem {
        padding: 10px 10px;
    }

    .variableTemp {
        padding-left: 10px;
    }
}