.variableSubmenu {
    color: #9EAAB9;
    font-size: 16px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #9EAAB9 rgb(39, 49, 57, 0.5);
}

.variableItem {
    padding: 12px 10px;
    cursor: pointer;
}

.variableTemp {
    padding: 0px 10px 10px 10px;
    cursor: pointer;
}

.variableName {
    display: flex;
    font-weight: 500;
}

.variableOptions {
    margin-top: 10px;
    /* background-color: rgb(39, 49, 57, 0.5); */
    border-radius: 5px;
}

@media (max-width: 768px) {
    .variableSubmenu {
        font-size: 16px;
    }

    .variableItem {
        padding: 10px 10px;
    }
} 