/* AboutProject.module.css */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    max-height: 1080px;
    max-width: 1920px;
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        padding: 40px;
    }
}

.leftColumn {
    width: 25%;
    padding-right: 20px;
    border-right: 2px solid rgb(39, 49, 57, 0.5);
    line-height: 2;
}

.rightColumn {
    width: 70%;
    text-align: justify;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
}

.text {
    line-height: 1.6;
    color: #fff;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .leftColumn,
    .rightColumn {
        width: 100%;
        padding: 0;
        border: none;
    }
    .rightColumn {
        margin-top: 20px;
    }
}
