.container {
    padding: 0px 20px 0px 10px;
}

.subheading {
    color: #9EAAB9;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: 500;
}

.optionGroup {
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    .container {
        padding: 0px 10px 0px 5px;
    }

    .optionGroup {
        margin-bottom: 20px;
    }

    .subheading {
        font-size: 16px;
    }
}

