/* TemporalMean.module.css */

.optionGroup {
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 10px;
}

.subheading {
    color: #68727D;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: 500;
}

@media (max-width: 768px) {
 .subheading {
    font-size: 14px;
  }
}