.leaflet-control-zoom {
  border: none !important;
}

.leaflet-container {
  background-color: rgb(39, 49, 57, 0) !important;
}

.leaflet-control-attribution {
  margin-right: 10px !important;
  background-color: #171A1C !important;
  padding: 4px 8px !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  display: none !important;
}

.leaflet-popup-content-wrapper {
  background-color: #e5e6ef !important;
  border-radius: 5px !important;
}

.leaflet-popup-content {
  margin: 0px 24px 6px 12px !important;
}

.loading-container {
  z-index: 9999;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #68727D
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.loading-icon {
  border: 4px solid #e5e6ef !important;
  border-top: 4px solid #68727D !important;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.error-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2c2c36;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  height: 100%;
}