.welcomeModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    min-width: 800px;
    min-height: 480px;
}

.welcomeModalContent {
    background-color: #FCFCFC;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    border: 1px solid #C8D0D6;
    max-width: 1000px;
    height: 50%;
    max-height: 820px;

    /* min-height: 680px;
    max-height: 1080px;
    max-width: 1920px;
    height: calc(100vh - 105px);
    width: calc(100vw - 50px);
    margin-top: 55px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    position: fixed;
}

.welcomeModalTitle {
    font-size: 22px;
    font-weight: 700;
    color: #2c2c36;
    width: 90%;
    text-align: center;
}

.welcomeModalSubtitle {
    font-size: 16px;
    font-weight: 500;
    color: #2c2c36;
    width: 80%;
    text-align: center;
}

.welcomeModalText {
    font-size: 14px;
    font-weight: 400;
    color: #2c2c36;
    width: 90%;
    text-align: justify;
}

.welcomeModalInfo {
    display: flex;
    flex-direction: row;
    text-align: justify;
    width: 94%;
}

.welcomeModalSmall {
    font-size: 12px;
    font-weight: 500;
    color: #68727D;
    margin-bottom: 40px;
    width: 96%;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px 20px 50px;
    align-items: flex-start;
    gap: 40px;
    width: 90%;
    padding: 40px 0px 0px 0px;
    margin: 0;
}

.logosLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.logosRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}


.modalButton {
    padding: 10px 14px 7px 14px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    background-color: #2C2C36;
    font-family: 'Epilogue';
    font-weight: 500;
    text-decoration: none;
}