.container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 15px 25px 25px 25px;
  height: calc(100vh - 85px);
  min-height: 720px;
  max-height: 1080px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100vw;
  box-sizing: border-box;
}

.leftColumn,
.middleColumn,
.rightColumn {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  flex-grow: 1;
}

.leftColumn {
  width: 18%;
  flex-basis: 18%;
  min-width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* transition: width 0.3s ease-in, flex-basis 0.3s ease-in; */
}

.expandedLeftColumn {
  width: 50%;
  flex-basis: 50%;
  min-width: 500px;
  /* transition: width 0.3s ease-out, flex-basis 0.3s ease-out; */
}

.mobileLeftColumn {
  flex-direction: column;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.expandedMainMenu {
  width: 50%;
}

.submenu {
  display: none;
}

.expandedSubmenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 20px 0px 20px 20px;
}

.middleColumn {
  width: 35%;
  flex-basis: 35%;
  min-width: 400px;
}

.rightColumn {
  flex-basis: 40%;
  width: 40%;
  min-width: 480px;
}

.menuOption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  gap: 5px;
}

.activeMenuOption {
  background-color: rgb(217, 223, 228, 0.4);
}

.menuOptionText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuOption:hover {
  background-color: rgb(217, 223, 228, 0.4);
}

.title {
  margin: 0;
  color: #616D7B;
  font-size: 16px;
  font-weight: 500;
  flex-grow: 1;
}

.menuOptionHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.subtext {
  margin: 0;
  color: #2C2C36;
  font-size: 16px;
  font-weight: 400;
}

.subtext p {
  margin: 0;
  line-height: 1.2;
}

.backButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
  padding: 5px 5px 5px 0px;
  width: fit-content;
}

.backTitle {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 6px;
  font-family: 'Epilogue';
}

.backButton:hover {
  background-color: #fff;
}

@media (max-width: 768px) {

  .title {
    font-size: 16px;
  }

  .subtext {
    font-size: 14px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    min-height: 250px;
    max-height: 100%;
    max-width: 100%;
    padding: 15px;
  }

  .leftColumn,
  .middleColumn,
  .rightColumn {
    width: 100%;
    min-width: 250px;
    padding: 10px 14px;
  }

  .mobileDropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    align-items: center;
  }

  .menuOption {
    padding: 6px 0px;
  }

  .backButton {
    margin: 12px 0px 10px 0px;
    padding: 0px;
    margin-left: -4px;
  }

  .backTitle {
    margin-left: 0px;
    font-size: 16px;
  }
}