/* GraphComponent.module.css */

.graphContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.chartHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.chartTitle {
    color: rgb(44, 44, 54);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 90%
}

.chartSubtitle {
    color: #68727D;
    font: 14px 'Epilogue';
    text-align: center;
    margin-top: 0px;
    font-weight: 500;
}

.chartDescriptionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(44, 44, 54, 0.1);
    padding: 20px 24px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 94%;
}

.chartDescription {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chartDescriptionMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2C2C36;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
}

.chartDescriptionExample {
    width: 100%;
    color: #68727D;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}

.realChart {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.errorMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2C2C36;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    height: 100%;
    margin: 0px;
}

[data-highcharts-chart] {
    overflow: visible !important;
}

.legendContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 10px 20px 10px;
}

.legendTitle {
    color: #2C2C36;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 96%;
}

.title {
    color: #2C2C36;
    font-size: 16px;
    font-weight: 500;
}

.subtitle {
    font-size: 14px;
    color: #2C2C36;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.2;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    line-height: 1.2;
    color: #2C2C36;
}

.detailItem {
    display: flex;
    flex-direction: column;
}

.detailTitle {
    font-size: 14px;
    font-weight: 500;
    color: #2C2C36;
    margin-bottom: 0px;
}

.detailText {
    font-size: 12px;
    font-weight: 400;
    color: #68727D;
}

.unepText1 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    text-align: justify;
}

.unepText2 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    text-align: justify;
}

.unepText3 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    text-align: justify;
}

.legendItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.unepItems {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.legendItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.2em;
}

.legendItem {
    color: #2C2C36;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    margin-bottom: 10px;
}

.legendColor {
    width: 16px;
    height: 10px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.moreInfo {
    color: #68727D;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    margin-top: 0px;
}

.moreInfoLink {
    color: #2C2C36;
}


@media (max-width: 768px) {
    .graphContainer {
        padding: 20px 0px 10px 0px;
    }
    
    .chartTitle {
        width: 100%;
    }

    .chartSubtitle {
        margin-bottom: 20px !important;
    }
    
    .realChart {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
    }

    .chartDescriptionInfo {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
