/* GraphComponent.module.css */

.graphContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

@media (max-width: 768px) {
    .graphContainer {
        padding: 20px 0px 10px 0px;
    }

    .chartSubtitle {
        margin-bottom: 20px !important;
    }

    .chartDescription {
        margin-bottom: 20px !important;
    }

    .realChart {
        overflow-x: scroll !important;
    }
}

.chartHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chartTitle {
    color: rgb(44, 44, 54);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 90%
}

.chartSubtitle {
    color: #68727D;
    font: 16px 'Epilogue';
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;
    font-weight: 500;
}

.chartDescriptionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(44, 44, 54, 0.1);
    padding: 20px 24px;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 90%;
}

.chartDescription {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chartDescriptionMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2C2C36;
    font: 14px 'Epilogue';
    font-weight: 400;
    text-align: justify;
    margin-bottom: 10px;
}

.chartDescriptionExample {
    width: 100%;
    color: #68727D;
    font: 12px 'Epilogue';
    font-weight: 400;
    text-align: justify;
}

.realChart {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.errorMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    height: 100%;
}

[data-highcharts-chart] {
    overflow: visible !important;
}